## Directorio de configuración privada de NetBeans
nbproject/private/

# Archivo de construcción generado por NetBeans
nbproject/build-impl.xml

# Archivos específicos de NetBeans
nbproject/genfiles.properties
nbproject/configs/

# Archivos específicos del proyecto NetBeans
build.xml
manifest.mf
nbproject/project.properties
nbproject/project.xml
