# Directorio de configuración de NetBeans
nbproject/private/

# Directorio de compilación de NetBeans
build/

# Directorio de distribución de NetBeans
dist/

# Archivos específicos de NetBeans
nbproject/*.properties
nbproject/*.xml
nbproject/*.private

# Logs y archivos de configuración generados por NetBeans
nbactions.xml
.nb-gradle/
build.xml